@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLR";
}

<div class="row mt-5">
    <div class="container-fluid">
        <form>
            <div class="mb-3">
                <label class="form-label" for="name" >Username</label>
                <input class="form-control" id="username" type="text" placeholder="Username" data-sb-validations="" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Password</label>
                <input class="form-control" id="password" type="text" placeholder="Password" data-sb-validations="" />
            </div>
        </form>

        <button class="btn btn-success" id="btnLogin">
            Login
        </button>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('click','#btnLogin',function(){
            let data = {
                username : $("#username").val(),
                password: $("#password").val()
            }
            ajaxRequest(data,"POST","@Url.Action("Login","Account")").done(function(response){
                alert("success")
            });
            
        });
    </script>
}
